@model IEnumerable<Eventures.Web.ViewModels.Events.EventViewModel>

@{
    ViewData["Title"] = "All";
}

@{
    int index = 1;
}

<h1 class="text-center">All Events</h1>
<hr class="hr-2 bg-info" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-2">#</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Start</th>
            <th class="col-md-2">End</th>
            <th class="col-md-2">Place</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in @Model)
        {
            <tr class="row">
                <th class="col-md-2">@index</th>
                <td class="col-md-4">@ev.Name</td>
                <td class="col-md-2">@ev.Start</td>
                <td class="col-md-2">@ev.End</td>
                <td class="col-md-2">@ev.Place</td>
            </tr>

            index++;
        }
    </tbody>
</table>
<hr class="hr-2 bg-info" />