
@{
    ViewData["Title"] = "All";
}

<h1 class="text-center">All Events</h1>
<hr class="hr-2 bg-dark" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-2">#</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Start</th>
            <th class="col-md-2">End</th>
            <th class="col-md-2">Place</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in @Model.AllOrders)
        {
            <tr class="row">
                <th class="col-md-2">1</th>
                <td class="col-md-4">@order.Id</td>
                <td class="col-md-2">@order.Customer</td>
                <td class="col-md-2">@order.Product</td>
                <td class="col-md-2">@order.OrderedOn</td>
            </tr>
        }
    </tbody>
</table>