@using Eventures.Web.ViewModels.Events
@model Eventures.Web.ViewModels.Orders.CreateOrderViewModel

@{
    ViewData["Title"] = "All";
    int index = 1;
}

<h1 class="text-center">All Events</h1>
<hr class="hr-2 bg-info" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-2">Start</th>
            <th class="col-md-2">End</th>
            <th class="col-md-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in this.ViewData["Events"] as IEnumerable<EventViewModel>)
        {
            <tr class="row">
                <th class="col-md-1">@index</th>
                <td class="col-md-3">@ev.Name</td>
                <td class="col-md-2">@ev.Start</td>
                <td class="col-md-2">@ev.End</td>
                <td class="col-md-4">
                    <form asp-controller="Orders" asp-action="OrderTickets" method="post" class="form-inline">
                        <div class="col-md-3">
                            <input type="hidden" asp-for="@Model.EventId" value="@ev.Id" />
                            <input type="hidden" asp-for="@Model.CustomerName" value="@User.Identity.Name" />
                            <label asp-for="@Model.Tickets"></label>
                        </div>
                        <div class="col-md-7">
                            <input asp-for="@Model.Tickets" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn bg-info">Order</button>
                        </div>

                        <span asp-validation-for="@Model.Tickets" class="text-danger"></span>
                    </form>
                </td>
            </tr>

            index++;
        }
    </tbody>
</table>
<hr class="hr-2 bg-info" />